# Exploración Inicial de Datos con Pandas
## Funciones Esenciales para el Análisis Exploratorio

### MANIPULACION Y LECTURA DE DATOS EN PANDAS

¿para que sirve?

La carga y lectura de datos en Pandas sirve para importar y manipular datos facilmente dentro de Python. Es uno de los pasos mas importantes cuando trabajas con analisis de datos, ciencia de
datos o cualquier proceso relacionado con bases de datos y archivos.

Asi se importa la libreria de pandas y se hace la lectura de cualquier archivo mencionado en la diapositiva

¿Qué es la lectura de datos en Pandas?

Es el proceso de importar datos externos a un programa de Python usando Pandas. Los datos pueden estar en muchos formatos como:

- csv (valores separados por comas)
- xlsx (Excel)
- json
- sql (bases de datos)
- Archivos de texto (.txt)
- HTML, entre otros

### Exploracion: Comandos o Metodos, `head()`, `info()`, `describe`, `dtype` y `shape`

In [ ]:
df.head() # Muestra los primeros 5 filas desde el indice 0 hasta el indice 5

,title,company,description,onsite_remote,salary_float,location,criteria,posted_date,link
0,Data Analyst - Recent Graduate,PayPal,"At PayPal (NASDAQ: PYPL), we believe that ever...",onsite,86658.0,Buffalo-Niagara Falls Area,"[{'Seniority level': 'Not Applicable'}, {'Empl...",2022-11-22,https://www.linkedin.com/jobs/view/data-analys...
1,Data Analyst - Recent Graduate,PayPal,"At PayPal (NASDAQ: PYPL), we believe that ever...",onsite,74052.0,"San Jose, CA","[{'Seniority level': 'Not Applicable'}, {'Empl...",2022-11-22,https://www.linkedin.com/jobs/view/data-analys...
2,Data Analyst,PayPal,"At PayPal (NASDAQ: PYPL), we believe that ever...",onsite,81425.0,"Texas, United States","[{'Seniority level': 'Not Applicable'}, {'Empl...",2022-11-17,https://www.linkedin.com/jobs/view/data-analys...
3,Data Analyst,PayPal,"At PayPal (NASDAQ: PYPL), we believe that ever...",onsite,74828.0,"Illinois, United States","[{'Seniority level': 'Not Applicable'}, {'Empl...",2022-11-17,https://www.linkedin.com/jobs/view/data-analys...
4,Entry-Level Data Analyst,The Federal Savings Bank,"The Federal Savings Bank, a national bank and ...",onsite,83737.0,"Chicago, IL","[{'Seniority level': 'Entry level'}, {'Employm...",2022-11-17,https://www.linkedin.com/jobs/view/entry-level...

In [ ]:
df.head(10)

,title,company,description,onsite_remote,salary_float,location,criteria,posted_date,link
0,Data Analyst - Recent Graduate,PayPal,"At PayPal (NASDAQ: PYPL), we believe that ever...",onsite,86658.0,Buffalo-Niagara Falls Area,"[{'Seniority level': 'Not Applicable'}, {'Empl...",2022-11-22,https://www.linkedin.com/jobs/view/data-analys...
1,Data Analyst - Recent Graduate,PayPal,"At PayPal (NASDAQ: PYPL), we believe that ever...",onsite,74052.0,"San Jose, CA","[{'Seniority level': 'Not Applicable'}, {'Empl...",2022-11-22,https://www.linkedin.com/jobs/view/data-analys...
2,Data Analyst,PayPal,"At PayPal (NASDAQ: PYPL), we believe that ever...",onsite,81425.0,"Texas, United States","[{'Seniority level': 'Not Applicable'}, {'Empl...",2022-11-17,https://www.linkedin.com/jobs/view/data-analys...
3,Data Analyst,PayPal,"At PayPal (NASDAQ: PYPL), we believe that ever...",onsite,74828.0,"Illinois, United States","[{'Seniority level': 'Not Applicable'}, {'Empl...",2022-11-17,https://www.linkedin.com/jobs/view/data-analys...
4,Entry-Level Data Analyst,The Federal Savings Bank,"The Federal Savings Bank, a national bank and ...",onsite,83737.0,"Chicago, IL","[{'Seniority level': 'Entry level'}, {'Employm...",2022-11-17,https://www.linkedin.com/jobs/view/entry-level...
5,Data Analyst,PayPal,"At PayPal (NASDAQ: PYPL), we believe that ever...",onsite,82802.0,Greater Scranton Area,"[{'Seniority level': 'Not Applicable'}, {'Empl...",2022-11-17,https://www.linkedin.com/jobs/view/data-analys...
6,Data Analyst,PayPal,"At PayPal (NASDAQ: PYPL), we believe that ever...",onsite,104876.5,"Tennessee, United States","[{'Seniority level': 'Not Applicable'}, {'Empl...",2022-11-17,https://www.linkedin.com/jobs/view/data-analys...
7,Data Analyst,PayPal,"At PayPal (NASDAQ: PYPL), we believe that ever...",onsite,69238.0,"Indiana, United States","[{'Seniority level': 'Not Applicable'}, {'Empl...",2022-11-17,https://www.linkedin.com/jobs/view/data-analys...
8,Data Analyst,London Approach,The ideal candidate for the Data Analyst/Finan...,onsite,110000.0,"Franklin, TN","[{'Seniority level': 'Associate'}, {'Employmen...",2022-11-21,https://www.linkedin.com/jobs/view/data-analys...
9,Data Analyst,PayPal,"At PayPal (NASDAQ: PYPL), we believe that ever...",onsite,96382.0,"Wisconsin, United States","[{'Seniority level': 'Not Applicable'}, {'Empl...",2022-11-17,https://www.linkedin.com/jobs/view/data-analys...

## 1. Importación de Librerías

In [ ]:
import pandas as pd
import numpy as np

## 2. Carga de Datos de Ejemplo
Dataset: Empleos de LinkedIn en EE.UU. (Data Analyst)

In [ ]:
# Cargamos el dataset
df = pd.read_csv('./data/linkedin-jobs-usa-modificado.csv')

## 3. head() - Primer Vistazo a los Datos

**¿Qué hace?**  
Muestra las primeras filas del DataFrame (5 por defecto).

**¿Por qué es útil?**  
- Verifica la correcta carga de datos  
- Inspecciona la estructura del dataset  
- Identifica nombres de columnas y tipos de datos preliminares

**¿Para qué se usa?**  
Exploración inicial rápida antes de análisis profundos

In [ ]:
# Primeras 5 filas
df.head()

In [ ]:
# Primeras 10 filas
df.head(10)

## 4. info() - Metadatos del DataFrame

**¿Qué hace?**  
Proporciona un resumen detallado:  
- Número de filas  
- Nombre y tipo de columnas  
- Valores no nulos  
- Uso de memoria

**¿Por qué es crucial?**  
- Detecta valores faltantes (¡problema común!)  
- Identifica tipos de datos incorrectos  
- Estima el consumo de memoria

**¿Para qué se usa?**  
Diagnóstico inicial de calidad de datos

In [ ]:
df.info()

## 5. describe() - Análisis Estadístico

**¿Qué hace?**  
Genera estadísticas descriptivas para columnas numéricas:
- Conteo
- Media
- Desviación estándar
- Mínimo/Máximo
- Cuartiles (25%, 50%, 75%)

**¿Por qué es fundamental?**  
- Detecta outliers (valores atípicos)  
- Revela sesgos en la distribución  
- Proporciona contexto sobre la escala de los valores

**¿Para qué se usa?**  
Comprensión rápida de la distribución de datos numéricos

In [ ]:
df.describe()

## 6. dtype - Tipos de Datos

**¿Qué hace?**  
Muestra el tipo de datos de cada columna

**¿Por qué es vital?**  
- Las operaciones matemáticas requieren tipos numéricos  
- Las fechas deben ser datetime para análisis temporales  
- Errores comunes: números almacenados como texto

**¿Para qué se usa?**  
Validar que los tipos sean correctos antes de operar

In [ ]:
# Tipos de todas las columnas
df.dtypes

In [ ]:
# Tipo de una columna específica
df['salary_float'].dtype

## 7. shape - Dimensiones del Dataset

**¿Qué hace?**  
Devuelve una tupla con (filas, columnas)

**¿Por qué es importante?**  
- Conoce el tamaño de tu dataset  
- Verifica cambios después de limpieza  
- Esencial para bucles y operaciones vectorizadas

**¿Para qué se usa?**  
Control del tamaño del dataset y planificación de procesos

In [ ]:
# Dimensiones completas
df.shape

In [ ]:
# Número de filas
num_filas = df.shape[0]
print(f"Número de registros: {num_filas}")

In [ ]:
# Número de columnas
num_columnas = df.shape[1]
print(f"Número de características: {num_columnas}")

## 8. Flujo Recomendado de Exploración Inicial

```python
1. df.head()       # Primer contacto con los datos
2. df.info()       # Diagnóstico de estructura
3. df.describe()   # Estadísticas básicas
4. df.dtypes       # Verificación de tipos
5. df.shape        # Control de dimensiones
```

**Beneficios:**  
- Detecta problemas temprano  
- Ahorra tiempo en depuración  
- Proporciona contexto para análisis profundos  
- Identifica necesidades de limpieza

## 9. Conclusión

Estas 5 funciones constituyen el **kit básico de supervivencia** en Pandas. Dominarlas permite:

1. Realizar una exploración inicial rápida y efectiva
2. Detectar problemas de calidad de datos temprano
3. Tomar decisiones informadas sobre próximos pasos
4. Sentar bases sólidas para análisis más complejos

**Regla de oro:** Siempre comienza tu análisis con estas funciones antes de operaciones más complejas.